<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219413229670-9s324fmkebs3g2tf8enpbei8o5p71mun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219413229670-9s324fmkebs3g2tf8enpbei8o5p71mun</string>
	<key>API_KEY</key>
	<string>AIzaSyCnQA3SbX2VlIH5-yonNM4aeOdC_Y45gGc</string>
	<key>GCM_SENDER_ID</key>
	<string>219413229670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diffus.happykey</string>
	<key>PROJECT_ID</key>
	<string>diffus-4c1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>diffus-4c1d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219413229670:ios:d0792e51cb3fee2726fda7</string>
	<key>DATABASE_URL</key>
	<string>https://diffus-4c1d8.firebaseio.com</string>
</dict>
</plist>